{% extends "base.html" %}

{% block content %}
<h1>Pagal užklausą "{{searchtxt}}" rasti rezultatai:</h1>
{% if not vehicle_data %}
<p>Nepavyko nieko surasti...</p>
{% else %}
<table class="table">
        <thead>
    <tr>
        <th scope="col">Automobilio valstybinis numeris</th>
        <th scope="col">Automobilis</th>
        <th scope="col">Savininkas</th>
        <th scope="col">Automobilio VIN numer</th>
    </tr>
    </thead>
    <tbody>
    {% for auto in vehicle_data %}
    <tr>
        <td><a href="{% url 'car_orders' auto.id %}">{{auto.plate}}</a></td>
        <td>{{auto.vehicle_id}}</td>
        <td>{{auto.client}}</td>
        <td>{{auto.vin}}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>


{% endif %}

{% endblock %}